.Egate_logo_with_Link {
    padding: 1rem 0;
    background-color: white;
    height: 63px;
}
.Egate_landing_header-e6578i {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
}
.Egate_logo_hjurnfh img {
    max-width: 270px !important;
}
.Newlandingpage_branchescontainer .EGATE_eLanding_Container {
    background: #00222c;
    padding: 3rem 0;
}
.Egate_loge_landing img {
    background: #fff;
    box-shadow: -1px 1px 20px 6px #fff;
    max-width: 350px;
}
.Egate_landiing_ojnkl {
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
 
 
.landing_content_div_container.EGATE_landingE {
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    background-color: #00222c;
    height: 300px;
    margin-top: 35px;
}
.Egate_landiing_ojnkl h1{
    color:white;
}
 
 
.Newlandingpage .Egate_eLanding_Container_Egate_landing .EGATE_eCordsLanding .EGATE_elandUl-pg_Default button {
    background-color: #00222c !important;
    text-align: center;
    box-shadow: 0 0 5px black !important;
    border-radius: 10px;
}
.EGATE_elandUl-pg_Default button:hover {
    background-color: #062833;
    text-align: center;
}
 
.Pg_buttonn_Default_Cards ul li{
    text-align: left;
    font-weight: bold;
    box-shadow: 0 0 1px rgb(83, 81, 81) !important;
    /* border:2px; */
}
.Pg_buttonn_Default_Cards ul li:hover{
   
    background-color: 0 0 1px rgb(240, 237, 237) !important;
    /* border:2px; */
}
.EGATE_elandUl-pg_Default {
    width: 385px !important;
    box-shadow: 0 0 10px #00222c !important;
    padding: 2rem !important;
    height: 400px;
}
.EGATE_eCordsLanding{
    margin: 25px !important;
} 


/* CSS CODE FOR FOOTER SECTION */

.ThemeFooterMainContainerDefault{
    padding: 2rem 10rem 0;
    color: #fff;
    background-color: rgb(15, 15, 15);
}
.ThemeFooterSubContainerDefault{
    display: flex !important;
    justify-content: space-evenly;
}
.ThemeFooterSubContainerFirstPartEGATEDataDefault h2{
    color:#279eff;
/* font-weight: bold; */
font-size: 25px;
font-family: Roboto, sans-serif
}
.ThemeFooterSubContainerFirstPartEGATEDataDefault p{
color: white;
/* font-size:1.1rem; */
    line-height: 1.5rem;
    text-align: justify;
    font-family: Roboto, sans-serif
}

.ThemeFooterSubContainerFirstPartLinksDataDefault ul {
    line-height: 1.5rem;
    display: flex !important;
    flex-direction: row;
    /* background-color: green; */
    /* justify-content: space-evenly; */
    margin-right: 20px;
}
.ThemeFooterSubContainerFirstPartLinksDataDefault ul li{
    line-height: 1.5rem;
    margin-right:15px;
    font-family: Roboto, sans-serif;
    text-decoration: underline;
}

.ThemeFooterSubContainerSecondtPartContactUsDataDefault h2{
    color:#279eff;
    /* font-weight: bold; */
    font-size: 25px;
    font-family: Roboto, sans-serif
}
.ThemeFooterSubContainerSecondtPartContactUsDataDefault p {
    color: white;
/* font-size:1.1rem; */
    line-height: 1.5rem;
    text-align: justify;
    font-family: Roboto, sans-serif
}
.ThemeFooterSubContainerCopywriteDataDefault ul li {
    text-align: center;
    margin-top:10px;
}
.ThemeFooterHorizantalLineDefault {
    border: none; /* Remove default border */
    height: 1px; /* Set the height of the line */
    background-color: white; /* Set the color of the line */
    width: 100%; /* Set the width of the line */
    margin: 20px auto; /* Center the line and add vertical spacing */
  }
  .ThemeFooterSubContainerFirstPartDefault {
    margin-right:6rem;
  }
  


/* CSS FOR NEW REPOSITORY LANDING PAGE */
.ThemeExamADD_EDIT_ButtonsDefault span {
    color:black;
    font-weight:bold;
    margin:10px;
    }
    .ThemeExamADD_EDIT_ButtonsDefault button {
      
        background-color: #00222c;
        color:white;
        margin:10px;
    }

  


    a {
        text-decoration: none !important;
    }
    /* Exam Home page header section file */

    .NewExploreExams_EachCard_Container.NewExploreExams_EachCard_Container ul {
        display:flex;
        width: 100%;
        flex-direction: column;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        padding-left: 0px;
    }
    

    /* Footer Part */

    .Footer_Main_Container.themeFooterMainContainerDeafult{
            background: #020202;
    }
    .Footer_Sub_Container.themeFooterSubContainerDefault{
            padding: 2rem 10rem 0;
    }
    .Footer_Content_Main_Container.themeFooterContentMainContainerDefault{
            display: flex;
            justify-content: space-evenly;
    }
    .Footer_eGRADTtutor__Content.themeFootereGRADTtutoContentDefault{
            width: 71%;
    }
    .Footer_FirstContent.themeFooterFirstContentDefault h2 {
        color: #279eff;
        font-size: 1.5rem;
        font-weight: 700;
        padding-bottom: 1rem;
        text-shadow: 2px 9px 8px #000;
    } 

    .Footer_eGRADTtutor__Content.themeFootereGRADTtutoContentDefault p{
        line-height: 1.5rem;
        text-align: justify;
        color:white !important;
}


.Footer_Links_Content.themeFooterLinksContentDefault ul {
    display: flex;
    padding-left: 0px;
} 

    .Footer_Links_Content.themeFooterLinksContentDefault ul li a{
        color:white !important; 
        margin-right:10px;
        text-decoration: underline !important;
    }

    .themeFooterContactDataDefault h2{
        color: #279eff;
        font-size: 1.5rem;
        font-weight: 700;
        padding-bottom: 1rem;
        text-shadow: 2px 9px 8px #000;
    }
    .Footer_Copywrite_Content_Container.themeFooterCopywriteContentContainerDefault {
        text-align: center;
        border-top: 1px solid rgb(255, 255, 255);
        padding-top: 10px;
        padding-bottom: 10px;
        color: rgb(255, 255, 255);

        
    }


    .Footer_Copywrite_Content_Container.themeFooterCopywriteContentContainerDefault  p {
        /* line-height: 1.5rem; */
        text-align: justify;
    }
    /* Media queries for landing page */

    @media (max-width: 600px) {
        .Egate_logo_hjurnfh img {
            max-width: 150px !important;
        }

        .landing_content_div_container.EGATE_landingE {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            justify-content: center;
            align-items: center;
            background-color: #00222c;
            height: 300px;
        }
        .Egate_loge_landing img {
            background: #fff;
            box-shadow: -1px 1px 20px 6px #fff;
            max-width: 225px;
        }
        .Egate_landiing_ojnkl h1 {
            color: white;
            font-size: 25px;
        }
        .Egate_landiing_ojnkl p{
            color: white;
            font-size: 18px;
        }
        .themeLanding_branch_box_li_buttonsDefault a {
            border-width:1px solid;
            border-color:gray;
        }
        .Footer_Sub_Container.themeFooterSubContainerDefault {
            padding: 1rem 2.5rem 0;
        }
        .Footer_Content_Main_Container.themeFooterContentMainContainerDefault {
            display: flex;
            /* justify-content: space-evenly; */
            flex-direction: column;
        }
        .Footer_eGRADTtutor__Content.themeFootereGRADTtutoContentDefault {
            width: 100%;
        }
        .Footer_FirstContent.themeFooterFirstContentDefault h2 {
            padding-top: 1rem;
            padding-bottom: 0px;
        }
        
        .Footer_FirstContent.themeFooterFirstContentDefault p {
            color: white;
            font-size: 15px;
        }
        .Footer_Links_Content.themeFooterLinksContentDefault ul {
            display: flex;
            flex-direction: column;
            line-height: -10rem; 
            margin: 10px 0; 
        }
        .Footer_Links_Content.themeFooterLinksContentDefault ul li a {
            font-size: 15px;
        }
        .themeFooterContactDataDefault h2 {
            padding-top: 1rem;
            padding-bottom: 0px;
        }
    }
    .Newlandingpage .Egate_eLanding_Container_Egate_landing .EGATE_eCordsLanding .EGATE_elandUl-pg_Default button:hover {
        background: #2a7184;
        color: #fff;
        outline: 0;
    }

    /* Media query for screen sizes between 601px and 800px */
@media (min-width: 601px) and (max-width: 850px) {
    
    .landing_content_div_container.EGATE_landingE {
        display: flex;
        gap: 4rem;
        justify-content: center;
        align-items: center;
        background-color: #00222c;
        height: 300px;
        padding: 72px;
    }
    .Egate_loge_landing img {
        background: #fff;
        box-shadow: -1px 1px 20px 6px #fff;
        max-width: 282px;
    }
    
    .Egate_landiing_ojnkl h1 {
        color: white;
        font-size: 24px;
    }
    .Footer_Sub_Container.themeFooterSubContainerDefault {
        padding: 2rem 2rem 0;
    }
    .Footer_Links_Content.themeFooterLinksContentDefault ul li a {
        /* margin-right: 100px; */
        gap:5rem;
    }
}
.Footer_Contact_Us_Content.themeFooterContactUsContentDefault .Footer_ContactData.themeFooterContactDataDefault div P {
    color:white;
}
/* Media query for maximum screen width of 415px */
@media (max-width: 415px) {
    .EGATE_elandUl-pg_Default {
        width: 385px !important;
        box-shadow: 0 0 10px #00222c !important;
        padding: 1rem !important;
        height: 400px;
    }
}

@media (max-width: 360px) {

.EGATE_elandUl-pg_Default {
    width: 288px !important;
    box-shadow: 0 0 10px #00222c !important;
    padding: 1rem !important;
    height: 400px;
}
.Newlandingpage_branch_box.EGATE_elandUl-pg_Default a {
    font-size: 1rem !important;
  }
  

}


    