* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.Newlandingpage {
  /* background: #f7f7f7; */
  /* border: 1px solid rgb(0, 0, 0); */
  position: relative;
  .Newlandingpage_logocontainer {
    width: 100%;
    top: 0px;
    /* position: fixed; */
  /* background: linear-gradient(90deg, #eeeff8 0, #ffffff 0, #ffff 19%, #52be80); */
    .Newlandingpage_logosubcontainer {
      width: 80%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      /* border: 1px solid red; */
      padding: 0 0.2rem;

      button {
        background: #00bf8e;
        color: #fff;
        padding: 0;
        margin: 0;
        width: 100px;
        height: 30px;
      }
      .disabled-edit {
        background-color: #f75842;
      }
    }
  }
  .logo_Img_container.t1ThemeLogoImgC {
    max-width: 320px;
}

  .Newlandingpage_branchescontainer {
    width: 100%;
    /* min-height: 40vh; */
    display: flex;justify-content: center;align-items: center;

    .Newlandingpage_branchessubcontainer {
      width: 80%;
      margin: 0 auto;
      padding: 0.5rem;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 1rem;
      .Newlandingpage_branch_box {
        width: 450px;
        box-shadow: 0 0 5px #00bf8e8a;
        padding: 2rem;
        button {
          width: 100%;
          background: #00bf8e;
          box-shadow: 0 0 10px #00bf8e8a;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0.5rem 0;

          a {
            /* width: 100%; */
            color: #fff;
            font-size: 1.4rem;
          }
        }
        ul {
          display: flex;
          flex-direction: column;
          gap: 1.5rem;
          padding: 0.5rem;
          text-align: right;

          li {
            width: 100%;
            padding: 0.5rem;
            height: 50px;
            box-shadow: 0 0 3px #afd2c9;
            a {
              /* font-size: 1.2rem; */
              color: #000;
            }
          }
        }
      }
      .Newlandingpage_branch_boxedit_conatiner {
        .Newlandingpage_branch_boxedit_buttonconatiner {
          display: flex;
          gap: 0.5rem;
          margin: 2rem 0;
          button {
            padding: 0;
            margin: 0;
            color: #fff;
            background: #337ab7;
            box-shadow: 0 0 3px #afd2c9;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
            width: 100px;
            margin: 0 auto;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
  .enableEditcontainerinlanding {
    background: #000000ad;
    width: 100%;
    height: 100vh;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .enableEditsubcontainerinlanding {
      width: 500px;
      background: #ffffff;
      display: flex;
      flex-direction: column;
      color: #000;
      padding: 1.5rem;
      border-radius: 8px;
      box-shadow: 0 0 5px #00bf8e8a;
      h3 {
        text-align: center;
        font-size: 1.3rem;
        color: #000;
      }
      ul li {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        box-shadow: 0 0 5px #00bf8e8a;
        padding: 0.5rem;
        margin: 0.8rem 0;
        input[type="text"],
        input[type="number"],
        input[type="date"],
        input[type="time"] {
          width: 100%;
          padding: 6px;
          border: none;
          box-shadow: none;
          font-size: 1rem;
        }
        button {
          font-size: 1.5rem;
          font-weight: 900;
          color: #fff;
          background: #f91e00;
          width: 50px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      button {
        padding: 0;
        margin: 0;
        padding: 0 0.5rem;
        /* width: 100px; */
        margin: 0 auto;
        color: #fff;
        background: #337ab7;
        box-shadow: 0 0 3px #afd2c9;
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        /* letter-spacing: 3px; */
      }
      .enableEditsubcontainerinlandingclosebtn {
        position: absolute;
        top: 1rem;
        right: 1rem;
        background: #f91e00;
        color: #fff;
        font-size: 1.5rem;
        border-radius: 50%;
        width: 34px;
        height: 34px;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
.Newlandingpage_logocontainer.t-1HeaderColor{
  background-color: red;
}
.Newlandingpage_logocontainer.defaultHeaderColor{
  background-color: teal;
}
/* extra classes coming from other files which are not present here */
button {
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
button {
  padding: 0.5rem 1rem;
  white-space: nowrap;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}


@media (max-width:428px){
  .logo_Img_container.t1ThemeLogoImgC {
    max-width: 200px !important;
}

}