.t1LinksPagesMainContainer{
    /* background-color: red; */
}
.t1AboutUsImgContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    
}

.t1AboutUsImgContainer img {
    border-radius: 5px;
    width: 330px;
}

.t1LinksDataContainer{
width: 80%;
margin: 0 auto;
}
.t1AboutUsImgContainer span{
    margin-top: 25px;
}

.t1AboutUsImgContainer span a {
    background-color: #134659;
    border-radius: 20px;
    border: 1px solid rgb(207, 160, 160);
    padding: 10px;
    height: 50px;
    width: 150px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.t1AboutUsImgContainer span a:hover {
    color: #1fe3f1;
}

.t1LinksDataContainer p strong {
    font-size: 22px;
    color: #12a4df;
    margin-left: -20px;
    font-weight: bold;
}
 
 

.t1LinksDataContainer p{
    color: black;
    padding: 10px;
    margin-left: 30px;
}

.LinksDataContainer.t1LinksDataContainer {
  background-color: white;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  padding:2rem;
}


/* FAqs css part */
.t1FaqMainContainer{
/* background-color: green; */
}

.t1AboutUsImgContainer{

}

.t1FaqSubContainer{
/* background-color: green; */
}

.t1FaqSubContainer h1{
    text-align: center;
    font-size: 35px;
    padding-top: 50px;
}

.t1FaqSubContainer h1 {
    background: linear-gradient(
      to right, 
      hsl(98, 38%, 50%), 
      hsl(204 100% 59%)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }

.t1FaqDataContainer{
width: 80%;
margin: 0 auto;
}

.t1FaqData{

}

.t1FaqData h3{
color:black;
}



.t1FaqData p{
color: rgb(54 52 53);
margin-left: 60px;
}



