.calculatorinput {
  width: 98% !important;
  height: 45px;
  text-align: right;
  margin-bottom: 10px;
  font-size: 20px;
  margin: 5px !important;
  border: 1px solid gray !important;
  border-bottom: 3px solid gray !important;
  background-color: #fff;
}

.result {
  width: 98% !important;
  text-align: right;
  margin-bottom: 10px;
  /* font-size: 15px; */
  margin: 5px !important;
  background-color: #fff;
  border: 1px solid gray;
  border-bottom: 3px solid gray;
  padding: 6px;
}

.Calculatormaindiv {
  width: 33rem;
  height: 25rem;
  background-color: #dadada;
  border-radius: 10px;
  border: 1px solid gray !important;
  border-bottom: 7px solid gray !important;
}

.Calculatorheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px;
  background-color: rgb(62, 125, 241);
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.Calculatorheaderright {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

.Calculatorhelp {
  background-color: rgb(136, 214, 245);
  padding: 5px 20px 5px 20px;
  color: #fff;
}

.calculator1 {
  width: 96%;
  padding: 6px;
}

.firstline{
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
} 

.firstlineleft{
  display: flex;
  gap: 3px;
}

.mode label{
  font-size: 13px !important;
}


.calculatorbutton{
  text-align: center;
  border: 1px solid gray;
  border-bottom: 3px solid gray;
  font-size: 13px;
  padding: 0 4px 0 4px !important;
  width: 40px;
}


.secondline {
  display: flex;
  gap: 5px;
  padding-bottom: 4px;

}
.threedline{
  display: flex;
  gap: 5px;
  padding-bottom: 4px;
}

.secondline button{
  padding: 0 10px 0 10px !important;
}


.calculatorBackspace{
  background-color: rgb(202, 32, 32);
  border: 1px solid rgb(156, 3, 3);
  border-bottom: 3px solid rgb(167, 4, 4);
  width: 85px !important;
  color: #fff !important;
  font-size: 20px;
}




.calculatorClear{
  background-color: rgb(202, 32, 32);
  color: #fff !important;
  border: 1px solid rgb(156, 3, 3);
  border-bottom: 3px solid rgb(167, 4, 4);
}

.calculatorzero{
  width: 85px !important;
}




/* colom css */

.firstcolom{
  display: flex;
  flex-direction: column;
 justify-content: space-between;
 gap: 5px;
}

.calculatorbuttons{
  display: flex;
  gap: 5px;
}
.threedcolom{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  padding-top: 33px;

}

.firstlineright{
  display: flex;
  gap: 5px;
}

.calculatortoplines{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.secondlineright{
  display: flex;
  gap: 5px;
}
.calculatorequalto{
  margin-left: 11.2rem;
  margin-top: -2.1rem;
}

.calculatorequalto1{
  padding-top:1.5rem !important;
  padding-bottom: 0.7rem !important;
  background-color: #61cc68;
  border: 1px solid #2e9435;
  border-bottom: 3px solid #2e9435;
  color: #fff;
  font-weight: 700 !important;
  font-size: 25px !important;
}

.secondlineright11{
  margin-top: -2.2rem;
}