
.pg_quiz_exam_interface_header {
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: #f8f9fa; 
    padding: 10px 20px; 
    border-bottom: 2px solid #ccc; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}
  .pg_quiz_exam_interface_header_LOGO {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

  .pg_header_exam_image {
    max-height: 60px; 
    width: auto; 
    display: block;
  }

  @media (max-width: 768px) {
    .pg_quiz_exam_interface_header {
      padding: 10px 15px; 
    }
    
    .pg_header_exam_image {
      max-height: 50px; 
    }
  }
  