.adminHeaderLogoImgContainer {
    /* height: 150px; */
    width: 200px;
    /* border: 1px solid black; */
}
.adminHeaderLogoImgContainer a img{
    width: 100%;
}
.adminHeaderParentContainer{
    height: 100px;
    /* border: 1px solid; */
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
._dFlex{
    display: flex;
}
.adminHeaderSubContainer._dFlex {
    width: 80%;
    margin: auto;
}
._fBetween{
    justify-content: space-between;
}
.adminHeaderNavLinks {
    gap: 1rem;
    align-items: center;
    justify-content: center;
    
}

/* ._fBetween.adminHeaderNavLinks.menu-link {
display: flex;
}
._fBetween.adminHeaderNavLinks.menu-link.mobileMenuLink {
    display: none;

} */
.adminHeaderhamburgerMenu{
    position: relative;
}

.adminHeaderNavLinks a {
    background-color: #0d2842;
    padding: 5px 10px;
    /* width: 100%; */
    text-align: center;
    color: white;
    border-radius: 10px;
}
._fBetween.adminHeaderNavLinks.menu-link  button{
    background-color: #0d2842;
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
}
@media (max-width:1024px){
    .adminHeaderSubContainer._dFlex {
        /* flex-direction: column; */
        align-items: center;
        width: 92%;
    }

}
@media (min-width:925px){
    ._fBetween.adminHeaderNavLinks.menu-link {
        display: flex;
        }

}

@media (max-width:924px){
    ._fBetween.adminHeaderNavLinks.menu-link.mobileMenuLink {
        position: absolute;
    }
    ._fBetween.adminHeaderNavLinks.menu-link.mobileMenuLink {
        position: absolute;
        display: flex;
        top: 8%;
        border-radius: 20px;
        right: 3%;
        flex-direction: column;
        padding: 3rem 2rem 2rem;
        border: 1px solid #1f4c60;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        /* z-index: 100; */
    }
    .adminHeaderNavLinks a {
        background-color: #0d2842;
        padding: 5px 10px;
        width: 100%;
        text-align: center;
        color: white;
        border-radius: 10px;
    }
    .adminHeaderNavLinks button {
        background-color: #0d2842;
        color: white;
        width: 100%;
    }

}
@media (max-width:425px){
    .adminHeaderLogoImgContainer {
        /* height: 150px; */
        width: 160px;
        /* border: 1px solid black; */
    }
}
