.Test_Activation_Admin_conatiner{
    width: 80%;
    margin: 0 auto;
}
.Test_Activation_Admin_subconatiner{
    margin-top: 2rem;
    gap: 5rem;
    flex-wrap: wrap;
    display: flex;
}


.Test_Activation_Admin_ecahcard{
/* border: 1px solid rgb(182, 178, 178); */
box-shadow: 0px 0px  5px rgba(0,0,0,0.1);
/* background: #ffffff; */
border-radius: 18px;
border-collapse:collapse ;

    /* background: #bd6767; */
    /* width: 300px; */
    text-align: center;

}
.Test_Activation_Admin_ecahcard h3{
   
    color: #00a3ff;
    /* text-shadow: 5px 4px 6px black; */
    font-size: 1.5rem;
    padding: 0.5rem;
}

.Test_Activation_Admin_ecahcard_subjectName{
    display: flex;
flex-direction: column;width: 150px;
/* border: 1px solid rgb(56, 55, 55); */
border-collapse:collapse ;

padding: 0.5rem 0.8rem;
    /* background: #000; */
}
.Test_Activation_Admin_ecahcard_subjectName span{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    font-weight: 500;
}
.Test_Activation_Admin_ecahcard_subjectName span p{
    font-size: 0.8rem;margin: 0;
    
}

.Test_Activation_Admin_ecahcard_info{
/* border: 1px solid rgb(56, 55, 55); */
background: #dcebfc6b;

    display: flex;
}
.Test_Activation_Admin_ecahcard_section_quntion{
    display: flex;
    margin: 0.5rem auto;
    gap: 0.5rem;
}

.Test_Activation_Admin_ecahcard_section_quntion p{
    margin: 0;
    font-size: 0.8rem;
}
.Test_Activation_Admin_ecahcard .inactive{
    background: #fa3d0391;
    color: #fff;
    width: 100px;
    height: 40px;
    margin: 0.5rem auto;
    text-decoration: none;border: none;
}

.Test_Activation_Admin_ecahcard .active{
    background: #058b10;
    color: #fff;
    width: 100px;
    height: 40px;
    margin: 0.5rem auto;
    text-decoration: none;
    border: none;
}