
.theme-selector-heading {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}
 
.theme-selector-box {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 320px;
    flex: 1 0 auto;
    max-width: 41%; 
    margin: 10px;
}
 
.theme-selector-card {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: background-color 0.3s ease;
}
 
.theme-selector-card:hover {
 
    transform: scale(1.01);
    box-shadow: 0 0 10px rgb(250, 244, 244); /* Add box-shadow */
}
 
.theme-selector-image {
    max-width: 100%;
    max-height: 100%;
    display: block;
    border-radius: 10px;
}
 
.active-indicator {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 15px;
    height: 15px;
    background-color: rgb(114 255 8);
    border-radius: 50%;
    z-index: 1;
}

.active-text {
    position: absolute;
    font-size: 20px;
    font-family: "Roboto";
    color: white;
    -webkit-text-decoration: underline rgb(141, 94, 94);
    background: rgb(0 0 0 / 68%);
    height: 100%;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    letter-spacing: 3px;
}

.theme-palePink{
    background-color: pink;
    display: none ; 
}
/* 
.dark-theme1{
    background: #000000;
}
  */
.theme-white{
    background: #ffffff;
}
 
.theme-selector-flex {
    width: 100%;
    overflow: scroll;
    /* height: 88vh; */
    display: flex;
    flex-wrap: wrap;
}
.previewImg{
    height: 100%;
    width: 80%;
}
.buttonsInPreviewDiv {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 14rem;
    padding: 20px 0px;
}
.theme-selector-container .divToBeOpenedWhenPreviewed {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    background: #00000075;
    z-index: 100;
}
.previewImg {
    width: 100%;
}
.parentDivForImg {
    width: 52%;
}
.closeButtonInAdminTheme{
    position: fixed;
    top: 20px; /* Adjust the distance from the top as needed */
    left: calc(50% - 26px); /* Center the button horizontally */
    z-index: 101;
}