.DashboardContainer{
  /* background: rgb(255 250 250); */
  background-color: rgb(237 247 255);
  width: 100%;
  height: 88vh;
}

.adminQuizHeader_container{
  background-color: rgb(237 247 255);
}

.Dashboard_container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin: 0 auto;
  /* height: 99vh; */
  gap: 1rem;
  flex-direction: column;
  overflow-y: scroll  ;
  padding: 1rem;
}

.DASHBOARDCards_Section{
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}
.Dashboard_contant h2{
  /* background: red; */
  /* letter-spacing: 1px; */
  text-transform: uppercase;
  font-size: 22px;
  /* font-family: "PT Serif", serif; */
}
.showExams_showCourses{
  position: absolute;
}





.Dashboard_container::-webkit-scrollbar{
    display: none;
}
.Dashboard_subcontainer {
  /* width: 80%; */
  margin: 0 auto;
  display: flex;
  gap: 1rem;
  padding: 0 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Dashboard_contant {
  /* border: 1px solid; */
  padding: 1rem;
  border-radius: 25px;
  text-align: center;
  /* width: 200px; */
  height: 300px;
  background: #ffffff;
  color: rgb(0 0 0);
  box-shadow: 3px 3px 11px -4px #042a45;
  padding: 3rem;
}

.Dashboard_contant i {
  padding-bottom: 1rem;
}

.Dashboard_contant:nth-child(1) i {
  color: hwb(221.54deg 46.23% 22.83%);
  font-size: 60px;
}

.Dashboard_contant:nth-child(2) i {
  color: #40e3ff;
  font-size: 60px;
}

.Dashboard_contant:nth-child(3) i {
  color: #48b39f;
  font-size: 60px;
}
.Dashboard_contant:nth-child(4) i {
  color: hsl(276, 59%, 65%);
  font-size: 60px;
}
.Dashboard_contant:nth-child(5) i {
  color: #81e58e;
  font-size: 60px;
}
.Dashboard_contant:nth-child(6) i {
  color: #5661ff;
  font-size: 60px;
}

.total_list {
  background-color: #edf7ff;
  border-radius: 5px;
  position: relative;
  /* width: 31%; */
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 25px -16px #042944;
  /* padding: 16px; */
  & ul{
    padding: 1rem;
    & h2{
      color: #042c49;
    }
  }
}

.total_list:hover{
  background: rgb(255, 255, 255);
}

.Dahbord_list_heading{
  font-size: 20px;
  color: rgb(5, 5, 5);
}
.admin_searchBar {
  display: flex;
  justify-content: space-between;
  padding: 10px 2rem;
}

.admintestReview_section{
  width: 100%;
  & button{
float: right;
/* margin: 1rem; */
  }
}

.admintestReview_container {
  width: 94%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 278px));
  /* margin-left: 4rem; */
  place-content: center;
  margin-left: 11px;

}

.admintestReview {
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 7px -4px;
  border-radius: 8px;
  padding: 0;
  justify-content: space-between;
}
.TestList_contant {
  padding: 0 1rem;
}
.TestList_Name {
  background: #f0f0f0;
}
.gototest_Reports{
  /* border: 1px solid red; */
}

.gototest_Reports {
  /* border: 1px solid red;   */
  width: 87%;
}

.overallscores_list {
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fill,minmax(281px,470px)); */
    /* margin: 0 10px; */
    /* justify-content: center; */
    /* background: #dfe7e3; */
    box-shadow: 0 0 6px -4px;
    display: flex;
    flex-wrap: wrap;
    gap: 0rem;
    & li{
      padding: 0.5rem;
      color: #707070;
      & b{
        color: #000;
      }
    }
}
.overallscores_list li {
  font-weight: 700;
  font-size: 13px;
}
.score_Overview_lineChart {
  /* width: 100%;
  height: 700px; */
  max-height: 700px;
  width: 100%;
  align-items: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.admin_searchBar {
    display: flex;
    justify-content: space-between;
    padding: 10px 2rem;
    background: #e9f2ee;
    margin-bottom: 1rem;

}
.questions_stats_list {
  width: 100%;
  /* display: grid; */
  /* gap: 2rem; */
  /* grid-template-columns: repeat(auto-fill, minmax(100px, 152px)); */
  /* margin-left: 4rem; */
  background-color: #e9f2ee;
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
  margin: 1rem 0;
  flex-wrap: wrap;
  & li{
    display: block;
    font-size: 13px;
    color: #838383;
    & b{
      font-size: 14px;
      color: #000;
    }
  }

}
.questions_stats_listsQP li {
  font-size: 13px;
}
.admintestReview li {
  font-size: 12px;
}
.admintestReview button{
  padding: 0;
}
.questions_stats_listsQP {
  width: 100%;
  /* display: grid; */
  /* gap: 2rem; */
  /* grid-template-columns: repeat(auto-fill, minmax(100px, 152px)); */
  /* margin-left: 4rem; */
  background-color: #e9f2ee;
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
  margin: 1rem 0;
  flex-wrap: wrap;
font-weight: 700;
color: #6c757d;
& b{
  color: rgb(0, 0, 0);
}
  }

  .gototest_Reports_btncontiner {
    /* background: #e5e5e5; */
    margin: 0.5rem;
    display: flex;
    justify-content: space-between;

  & button {
    padding: 3px 25px;
    margin: 3px;
    background: #e9f2ee;
    &:hover{
      color: #615757de;
    }
  /* .activeintest_adim{
  background: #000;
 

 
} */
}

& .activeintest_adim{
  background: #ffffff;
  color: #000;
  box-shadow: 0 -1px 2px #4bc0c0 ;
}
}


@media (max-width:1280px) {
  .DASHBOARDCards_Section {
    margin-top: 5rem;
}
.Dashboard_contant {
  width: 169px;
  height: 250px;
  padding: 0rem;
}
.Dashboard_contant:nth-child(1) i {
  font-size: 39px;
  margin-top: 23px;
}
.Dashboard_contant:nth-child(2) i {
  font-size: 39px;
  margin-top: 23px;
}
.Dashboard_contant:nth-child(3) i {
  font-size: 39px;
  margin-top: 23px;
}
.Dashboard_contant:nth-child(4) i {
  font-size: 39px;
  margin-top: 23px;
}
.Dashboard_contant:nth-child(5) i {
  font-size: 39px;
  margin-top: 23px;
}
.Dashboard_contant:nth-child(6) i {
  font-size: 39px;
  margin-top: 23px;
}
.left-nav-bar ul {
  height: 100%;

}
.otc_-table tr th {
  font-size: 12px;
}
.otc_-table_-tBody tr td {
  font-size: 12px;
}
.ActivateTestButton {
  font-size: 12px;
}
.textColor {
  font-size: 17px;
}

}
