@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Sedan+SC&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sedan+SC&display=swap');
/* font-family: "Roboto Mono", monospace; */



body {
  font-family: "Libre Baskerville", serif;
}
label {
  font-size: 15px;
  font-weight: 500;
  color: rgb(0, 0, 0);
}
/* table ,tr, th,td {
  border: 2px solid #000;
} */
select {
  width: 350px;
  padding: 6px;
  border: none;
  box-shadow: 1px 1px 3px 0px #1a374d;
}

/* input {
    width: 350px;
    padding: 6px;
    border: none;
    box-shadow: 1px 4px 11px 0px #1A374D;
} */
input[type="text"], input[type="number"], input[type="date"], input[type="time"] {
  width: 350px;
  padding: 6px;
  border: none;
  box-shadow: 1px 4px 4px 0px #1a374d;
}

.ots_-Form{
  margin-top: 2rem;
}

.activeSD{
  background: linear-gradient(to right, #000102 -15%, #053456 48%, #000000 117%);
  padding: 1.5rem 0;
  & p{
    color: white;
  }
}
/* btns  */

/* .create_exam_header button {
    background: rgb(26 55 77);
    border: 0;
    padding: 0 0.5rem;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
    padding: 10px;
    text-transform: uppercase;
    float: right;
} */
.otc_-addExam {
  color: white;
  background: #21af34;
  padding: 3px 34px;
  border: none;
  border-radius: 5px;
  box-shadow: 4px 6px 12px 0px #000000;
  float: right;
  font-weight: 800;
  margin-top: 10px;
  margin-bottom: 20px;
}
.ots_-createBtn {
  color: white;
  background: #1a374d;
  /* padding: 10px; */
  /* margin-bottom: 5px; */
  border: none;
  border-radius: 5px;
  box-shadow: 4px 6px 12px 0px #000000;
  float: right;
  font-weight: 800;
  /* margin-top: 10px; */
  margin-left: 10px;
}
.ots_btnClose {
  color: white;
  background: #ff8080;
  /* padding: 10px; */
  margin-bottom: 5px;
  border: none;
  border-radius: 5px;
  box-shadow: 4px 6px 12px 0px #000000;
  float: right;
  font-weight: 800;
  margin-left: 10px;
}
.EditDelete_-btns {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.Ots_-edit {
  background: none;
  padding: 4px 9px;
  border-radius: 4px;
  color: rgb(0, 0, 0);
  border: navajowhite;
}
.Ots_-edit:hover{
 background: #bdcbd6;
}
.Ots_-edit a i {
  color: black;
  /* background: darkred; */
}
  /* .Ots_-edit i {
    color: white;
  } */

.Ots_-delete {
  /* background: #ff8080; */
  background: none;
  padding: 4px 9px;
  border-radius: 4px;
  color: white;
  border: navajowhite;
}
.Ots_-delete i {
  color: #ff4848;
}

/* table  --------------- */
.otc_-table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
  text-transform: uppercase;
}
.otc_-table tr th {
  font-size: 14px;
  padding: 5px;
  border: 1px solid #000;
}
.otc_-table_-tBody tr td {
  font-size: 14px;
  text-transform: uppercase;
  /* padding: 5px; */
  /* text-align: center; */
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  text-align: left;
  border: 1px solid #b0c5d3;
  border-top: none;
  border-bottom: none;
}
.otsAdminTable_Container thead tr th{
border: none !important;
}
.otsAdminTable_Container tbody tr td {
  border: 1px solid #b0c5d3;
  border-top: none;
  border-bottom: none;
}
  
.inputLable {
  width: 15px;
  padding: 0px;
  border: none;
  /* box-shadow: 1px 4px 11px 0px #1a374d; */
  height: 21px;
}

.otsTitels {
  font-size: 12px;
  color: white;
  background: #37556c;
  padding: 10px;
  margin-bottom: 5px;
}
.otsGEt_-contantHead {
  background: #032742;
  color: #fff;
  /* padding: 10px; */
}
.head {
  width: 100vw;
  background: #1a374d;
  position: absolute;
  height: 60px;
  box-shadow: 3px 0px 10px 0px;
}

/* .otsMainPages {
  margin: 1rem 0.5rem;
  overflow-x: scroll; */
  /* height: 60vh; */
/* } */
.otsMainPages {
  padding: 1rem 0.5rem;
  /* overflow-x: scroll; */
  /* height: 60vh; */
  width: 100%;
  background: #edf7ff;
  height: 88vh;
  overflow-y: scroll;
}

.textColor {
  text-transform: uppercase;
  /* background: linear-gradient(to right, black 30%, red 48%, #000 87%);  padding: 11px 65px; */
  /* background: linear-gradient(to right, black -15%, red 48%, #000 117%); */
  background: linear-gradient(to right, #000102 -15%, #053456 48%, #000000 117%);
  border-radius: 6px;
  color: #ffffff;
  font-size: 23px;
  margin: 0;
  font-family: "PT Serif", serif;
  width: 100%;
  padding: 6px;
  letter-spacing: 15px;
  text-align: center;
}

.otsTitels {
  font-size: 12px;
  color: white;
  background: #37556c;
  padding: 10px;
  margin-bottom: 5px;
}

.list_-otsTitels {
  font-size: 17px;
  color: #37556c;
  /* background: #37556c; */
  padding: 5px;
  margin-bottom: 5px;
  text-transform: uppercase;
  text-align: center;
}
/* 
.LeftnavLinks .logo_-clr{
    color: #00aff0;
} */

#Update_Instruction_point {
  width: 100%;
  height: auto;
}

.error-message {
  color: red;
  margin-top: 5px;
  font-size: small;
}

.docInfoOts {
  background-color: rgb(237 247 255);
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.question-container {
  background: #fff;
  padding: 10px 2rem;
  box-shadow: 0px 0px 11px -7px black;
  border-radius: 6px;
}
.docImgesTitle {
  background: #f7f7f7;
  color:  #488cbf;
  font-size: 21px;
  padding: 3px 10px;
  text-transform: uppercase;
}
.docInfoTitle h3{
  color: #488cbf;
  font-size: 21px;
  padding: 3px 10px;
  text-transform: uppercase;
}
.docInfoTitle {
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media only screen and (max-width: 1280px) {
.courseOtsPqbOvl_Btns ul li { 
      & button {
        padding: 2px 18px !important;
        font-size: 13px;
    } 
}
.left-nav-bar{
  overflow-y: scroll;
}
.DashboardContainer {
  overflow: scroll;
}
.DASHBOARDCards_Section {
  margin-top: 2rem;
}
.examUpdate_-container{
  height: auto !important;
}
.examUpdate_-container{
}
.testCreation_-list {
  grid-template-columns: 1fr !important;
}
.testCreation_list {
  display: flex;
  justify-content: left;
  align-items: revert;
  gap: 10px;
  flex-direction: column;
}
input[type="text"], input[type="number"], input[type="date"], input[type="time"] {
  max-width: 100%;
}
.testCreation_-list select{
  max-width: 100%;
}
.Dashboard_contant {
  width: 232px !important;
}
}
