.testCreation_-container {
    width: 100vw;
}

.TestCreation_-container {
    display: flex;
    flex-direction: column;
    padding: 2rem 0px;


}

.testCreation_-contant {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 70vw;
    border-radius: 20px;
    margin: 0 auto;
    background: #ffffff;
}

.testCreation_-contant_-flexCOntant {
    display: grid;

    gap: 6rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.testCreation_-list {
    /* display: flex; */
    /* justify-content: space-between; */
    gap: 0.2rem;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.testCreation_-GettingDAta {
    width: 100%;
}

.ActivateTestButton {
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}

.activated {
    background-color: rgb(33 175 52);
    color: #ffffff;
    padding: 0px 8px;
    box-shadow: 2px 2px 8px -3px #0a991d;
}

.activated:hover {
    background: #0a991d;
}

.deactivated {
    background-color: rgb(250, 62, 62);
    color: #ffffff;
    padding: 0px 8px;
    box-shadow: 2px 2px 8px -3px #000000;
}

.deactivated:hover {
    background-color: rgb(255, 104, 104);
    color: #03263f;

}

/* .deactivated {
    background-color: rgb(250, 62, 62); 
    color: white;
  } */

 .paginationBttns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    padding: 50px;
    font-size: 20px;
}

@media only screen and (min-width:500px) and (max-width: 996px) {

    .testCreation_-list {
        flex-direction: column;
        display: flex;
    }

    .coures-contant_-flexCOntantc {
        flex-direction: column;
    }
}