.SDHParentContainer{
  background-color: #ebf2ee;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
/* margin: 1rem 0; */
    /* width:250px ; */
    height: 80px;
}
.SDHSubContainer {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.SDHeaderImgContainer {
    width: 65px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    position: relative;
}
.SDHContentContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 2rem;
}
.SDHContentContainer:hover .SDHContentContainer{
padding: 4rem;
}

.toBeDisplayedWhenHovered {
    display: none; 
    height: inherit;
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.SDHeaderLogoContainer{
    height: inherit;
    width: 200px;
}
.SDHeaderLogoContainer img{
    width: 100%;
}













.SDHeaderImgContainer {
    position: relative;
    cursor: pointer;
  }
    .toBeDisplayedWhenHovered {
    display: none; 
    position: absolute;
    top: 100%; 
    left: 50%; 
    transform: translateX(-50%);
    background-color: white; 
    border: 1px solid #ccc;
    padding: 10px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    z-index: 10;
  }
  
  .SDHeaderImgContainer:hover .toBeDisplayedWhenHovered {
    display: block;
  }
  
  .sub-links-userrr{
    color: rgb(6, 7, 6);
    font-size: 20px;
  }
  
  button.sub-links-userrr {
    height: 34px;
    font-size: 18px;
    background-color: #ff00008f;
}

  .SDHeaderImgContainer:hover .toBeDisplayedWhenHovered {
    display: block;
    width: 200px;
    border-radius: 25px;
    padding: 20px;
}