.card_container_dashbordflowtest {
    background: rgb(0 153 255 / 4%);
    min-height: 93vh;
    overflow-y: scroll;
  }
  .card_container_dashbordflowtest::-webkit-scrollbar {
    display: none; /* Hide scrollbar for WebKit browsers */
  }

  

  @keyframes flickerAnimation {
    0%   { opacity: 1; }
    50%  { opacity: 0; }
    100% { opacity: 1; }
  }
  
  p.no_tests_message {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: red;
    font-size: 20px;
    margin-top: 350px;
    align-items: center;
    animation: flickerAnimation 2s infinite;
}
  