.card_container_dashbordflowtest {
    background: rgb(0 153 255 / 4%);
    min-height: 93vh;
    overflow-y: scroll;
  }
  .card_container_dashbordflowtest::-webkit-scrollbar {
    display: none; /* Hide scrollbar for WebKit browsers */
  }
  .testcard_inline {
    width: 100%;
    /* background: #000; */
    display: flex;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(00px, 250px));
    /* color: #fff; */
    background-color: lightblue;
    padding: 0;
    margin: 0.5rem 0;
  
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-left: 0.5rem;
    gap: 0.5rem;
    li {
      font-weight: 700;
      font-size: 14px;
      span {
        color: #1f2641;
        font-size: 2rem;
        font-weight: 900;
      }
      a {
        background: #000000;
        justify-self: flex-end;
        border-radius: 0;
        padding: 4.9px;
        font-weight: 700;
        display: flex;
      justify-content: center;align-items: center;
      span{
        color: #fff;
      }
      }
      .Result_Analysis{
          text-align: center;
      }
    }
  }
  .testcard_inline li {
    grid-column: span 1; /* Each item spans 2 columns */
    /* background-color: lightblue; */
    /* padding: 10px; */
  }
  /* .testcard_inline li:nth-child(1) {
    grid-column: span 1/2; 
  } */
  .testcard_inline li:nth-child(1) {
    grid-column: span 2;
  }
  .testcard_inline li:nth-child(5) {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  @keyframes flickerAnimation {
    0%   { opacity: 1; }
    50%  { opacity: 0; }
    100% { opacity: 1; }
  }
  
  p.no_tests_message {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: red;
    font-size: 20px;
    margin-top: 350px;
    align-items: center;
    animation: flickerAnimation 2s infinite;
}
  