.eGRADTutorWatermark {
    position: relative;
    /*  background-color: #f2f2f2; Gray background color */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url('../Images/Watermark1.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
  
  }
  
  .eGRADTutorWatermark .eTorWatermark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Additional styles for the watermark */
  }

  .bookmark_subheading{
    width: 100%;
    font-size: 20px;
    padding: 10px;
    color: black;
    display: flex;
    justify-content: center;
    height: 3rem;
    background-color: #e9f2ee;
    font-weight: 600;
  }