.dashboard_body_container {
    margin: 10px auto;
    padding: 5px;
    height: 91vh;
    overflow-y: scroll;
  }

  .dashboard_body_container::-webkit-scrollbar {
    display: none; /* Hide scrollbar for WebKit browsers */
  }
  
  .dashboard_welcome_section {
    margin: 1rem;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
  }

  .greeting_section {
    padding: 30px;
    /* display: flex; */
    max-width: 1000px;
  }

  .dashboard_greeting_container {
    font-size: 30px;
    font-weight: 700;
    color: #003515;
  }

  .greeting_sub_text {
    font-size: 22px;
    font-weight: 400;
    color: rgb(71 71 71);
    text-align: left;
    letter-spacing: 1px;
    word-spacing: 3px;
  }

  .dashboard_welcome_img_section img {
    max-width: 300px;
  }

  .testcounts_student_dashbard {
    ul {
      display: flex;
      margin: 0.5rem auto;
      padding: 0.5rem;
      box-shadow: 0 0 1px;
      width: 98%;
      background: #fff;
      /* font-size: 7rem; */
      font-weight: 500;
      gap: 2rem;
      /* justify-content: center; */
      align-items: center;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
      }
    }
  }