/* Container for the form and button */
.change-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  max-width: 500px;
  margin: auto;
}

/* Form styling */
.change-password-form {
  width: 100%;
}

/* Styling for form fields */
.change-password-form div {
  margin-bottom: 15px;
}

.change-password-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.change-password-form input[type="number"],
.change-password-form input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.change-password-form input[type="number"]:focus,
.change-password-form input[type="password"]:focus {
  border-color: #007bff;
  outline: none;
}


.change-password-form .error-message {
  color: red;
  margin-bottom: 15px;
}


.change-password-form button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 16px;
}

.change-password-form button:hover {
  background-color: #0056b3;
}


.change-password-form .close-button {
  background-color: #6c757d;
}

.change-password-form .close-button:hover {
  background-color: #5a6268;
}


.button-container {
  display: flex;
  justify-content: space-between;
}



.dashboard_settings {
  width: 100%;
}

.dashboard_settings_user_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.users_user_name {
  color: #337ab7;
  font-size: 40px;
  text-align: center;
}

.users_user_img_container {
  height: 100px;
  width: 100px;
}

.users_profile_img {
  width: 100%;
  height: 100%;
  border-radius: 170px;
  border: 1px solid rgb(173, 160, 160);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dashboard_settings button{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  align-items: center;
}

@media (max-width:768px){
  .users_profile_img{
    width: 200px;
    height: 200px;
  }

  .users_user_name {
    font-size: 45px;
    text-align: center;
  }

  .change-password-container {
    width: 100%;
  }
}