
  .watermark-container {
    /* position: relative; */
    /* min-height: 100vh; */
    /* overflow: hidden; */
  }

  

  .quizPagewatermark {
    /* position: fixed; */
    /* top: 10px; 
    left: 10px;  */
    /* width: calc(100% - 20px); 
    height: calc(100% - 20px);  */
    /* pointer-events: none; */
    /* z-index: -1; */
    background-image:
      url('../Images/waterMarkLogo.png'),
      url('../Images/waterMarkLogo.png'),
      url('../Images/waterMarkLogo.png'),
      url('../Images/waterMarkLogo.png'),
      url('../Images/waterMarkLogo.png'),
      url('../Images/waterMarkLogo.png'),
      url('../Images/waterMarkLogo.png'),
      url('../Images/waterMarkLogo.png'),
      url('../Images/waterMarkLogo.png'),
      url('../Images/waterMarkLogo.png'),
      url('../Images/waterMarkLogo.png'),
      url('../Images/waterMarkLogo.png'),
      url('../Images/waterMarkLogo.png'),
      url('../Images/waterMarkLogo.png'),
      url('../Images/waterMarkLogo.png'),
      url('../Images/waterMarkLogo.png'),
      url('../Images/waterMarkLogo.png'),
      url('../Images/waterMarkLogo.png'),
      url('../Images/waterMarkLogo.png'),
      url('../Images/waterMarkLogo.png'),
      url('../Images/waterMarkLogo.png'),
      url('../Images/waterMarkLogo.png'),
      url('../Images/waterMarkLogo.png'),
      url('../Images/waterMarkLogo.png'),
      url('../Images/waterMarkLogo.png'),
      url('../Images/waterMarkLogo.png');
    background-repeat: no-repeat;
    background-size: 10%; /* Adjust the size of the watermark images */
    background-position:
      center center, /* Center image */
      center 10%,
      center 30%, /* Top center */
      75% center, /* Right center */
      100% center, 
      75% 30%, /* Top right */
      75% 70%, /* Bottom right */
      25% 30%, /* Top left */
      75% 10%,
      0% 30%, /* Top left */
      0% 70%,
      0% 10%,
      25% 10%,
      0% 90%,
      25% 70%, /* Bottom left */
      25% 90%,
      center 70%, /* Bottom center */
      center 90%, 
      75% 90%,
      100% 10%,
      100% 30%,
      100% 70%,
      100% 90%,
      0% center,  
      25% center;/* Left center */
      /* transform: rotate(-30deg); */
  }

  




