.form-section {
    background-color: #f0f8ff;
    border: 1px solid #dcdcdc;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  
  .form-section h2 {
    background-color: #5bc0de;
    color: #fff;
    padding: 10px;
    margin-top: -15px;
    margin-left: -15px;
    margin-right: -15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="date"],
  input[type="email"],
  input[type="number"],
  select,
  textarea {
    margin-top: 5px;
  }
  
  input[type="file"] {
    margin-top: 5px;
      margin-right: 10px;
  }
  
  .form-check {
    margin-top: 5px;
  }
  

input[type="email"] {
  text-transform: none;
}



/* Popup container - can be anything you want */
.popup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Popup Content */
.popup-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup-header h2 {
  margin: 0;
}

.popup-close {
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.popup-body {
  margin-top: 20px;
}

.popup-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.popup-button {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.popup-button:hover {
  background-color: #0056b3;
}

/* Show the popup when visible */
.popup.show {
  display: block;
}
/* css for registration form of course page */
.registrationFormParentDiv{
  width: 95%;
  margin: auto;
  padding: 1rem 0 ;
}
.registrationForm {
  /* width: 90%; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-evenly;
  gap: 1rem;
  width: 100%;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 700px));
}
.registrationForm >div {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr; */
  /* border: 1px solid red; */
  /* row-gap: 2rem; */
  gap: 1rem;
  padding: 1rem 0;
}

.registrationForm div input {
  /* Add your styles here */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  /* width: 100%;  */
  /* Make input fields take full width of the parent container */
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}
.radioGroup {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
}
.radioGroup div{
  display: flex;
	align-items: center;
	/* margin-bottom: 20px; */
}

.radioGroup div input[type="radio"] {
  margin: 10px;
}
.registrationFromSubContainer {
  width: 80%;
  margin: auto;
  border: 1px solid green;
}
.radioGroup2 >div {
  display: flex;
  align-items: center;
  /* margin-bottom: 20px; */
  width: 100%;
}
@media (max-width:768px){
  /* .registrationForm >div {
    display: flex;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid red;
    row-gap: 2rem;
    padding: 1rem;
  } */

}



.fieldsToBeGrid >div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 1rem;
}
.qualificationRBDiv{
  display: flex;

}
.qualificationRBDiv div {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.fieldsToBeGrid h1, .fieldsToBeGrid2 h1{
  align-items: center;
  text-align: start;
  padding-left: 1rem;
  background-color: #30a9cb;
  color: white;
  font-size: 26px;
}
.fieldsToBeGrid {
  padding: 1rem;
  /* border: 1px solid black; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.uploadPicDiv{
  width: 150px;
  height: 150px;
}
.uploadPicDiv img{
  width: 100%;
}
.fieldsToBeGrid >div >label{
font-weight: 600;
font-size: 18px;
text-transform: uppercase;
/* color: #0056b3; */
}
.mandatoryIndicator{
  color: red;
  font-weight: 600;
  font-size: 18px;
}
.registerOrCousesButtonDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
.registerOrCousesButtonDiv button{
  background-color: #30a9cb;
  color: white;
}
@media (max-width:425px){
  .fieldsToBeGrid >div {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 1rem;
  }
  .radioGroup2 >div {
    display: flex;
    align-items: center;
    /* margin-bottom: 20px; */
    width: 100%;
    flex-wrap: wrap;
}
.fieldsToBeGrid {
  padding: 0;
  /* border: 1px solid black; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
}
.fieldsToBeFlex>div {
  align-items: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  display: grid;
  justify-items: center;
}
.fieldsToBeFlex label{
  font-weight: 600;
font-size: 18px;
text-transform: uppercase;
}
@media (max-width:375px){

  .registrationForm {
    margin: 0 auto;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
    width: 100%;
    display: grid;
    padding: 0 1rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 800px));
  }
}
@media (max-width:441px){
  .fieldsToBeFlex>div {
    align-items: center;
    /* padding: 1rem; */
    /* display: flex; */
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    gap: 20px;
    padding: 8px;
    margin: 0;
    width: inherit;
    display: grid;
    align-items: center;
}
  
}

@media (max-width:350px){
  .registrationForm {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
    width: 100%;
    display: grid;
    padding: 0;
    grid-template-columns: repeat(auto-fill, minmax(300px, 800px));
  }
}

@media (max-width:854px){
.fieldsToBeGrid >div {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  padding: 1rem;
}
}
/* .fieldsToBeGrid >div {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
} */
@media (min-width: 2314px) and (max-width: 2560px) {
  .registrationForm {
    /* width: 90%; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
    gap: 1rem;
    width: 100%;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 700px));
  }
}
.fieldsToBeFlex {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.fieldsToBeGrid2 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* border: 1px solid black; */
  padding: 1rem;
}
@media (max-width:816px){
  .fieldsToBeFlex {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.fieldsToBeFlex input{
  width: 90%;
}
.courseDetailsPC {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border: 1px solid black; */
  margin-top: 2rem;
}

.courseDetailsSubContainer {
  width: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 250px;
  gap: 1rem;
  /* width: 77%; */
  min-width: 300px;
}
@media (min-width: 1558px) and (max-width: 2560px) {
  /* Your CSS styles here */
  .courseDetailsSubContainer {
    width: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 250px;
    gap: 1rem;
    /* display: inline-block; */
    width: 77%;
    /* max-width: 700px; */
    min-width: 300px;
  }
}

.courseDetailsDiv>div {
  display: flex;
  /* gap: 1rem; */
  margin: 10px;
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  justify-items: center;
  border-right: 1px solid black;
  padding-right: 20px;
}

/* .courseDetailsDiv strong{
  font-size: 18px;
}
.courseDetailsDiv p{
  font-size: 18px;

} */
.courseDetailsh2Div h2 {
  width: 100%;
  /* background-color: #0056b3; */
  color: #24a3d1;
}

.courseDetailsDiv {
  display: flex;

}
@media (max-width:425px){
  .fieldsToBeGrid h1, .fieldsToBeGrid2 h1{
    align-items: center;
    text-align: start;
    padding-left: 1rem;
    background-color: #30a9cb;
    color: white;
    font-size: 23px;
  }
  .fieldsToBeGrid >div >label{
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    /* color: #0056b3; */
    }
    .fieldsToBeFlex label{
      font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    }

    
}
@media (max-width:768px){
  .courseDetailsSubContainer {
    width: auto;
    height: 280px;
    /* height: auto; */
}
.courseDetailsDiv {
  display: flex;
  /* flex-direction: column; */
}
  .courseDetailsDiv strong,.courseDetailsDiv p {
    font-size:14px;
  }

  .courseDetailsDiv>div {
    display: flex;
    gap: 1rem;
    margin: 10px;
}
.courseDetailsDiv>div {
  display: flex;
  gap: 0;
  margin: 20px;
  flex-direction: column;
}
}
@media (max-width:548px){
  .courseDetailsDiv {
    display: flex;
    /* flex-direction: column; */
  }
}
@media (max-width:425px){
  .courseDetailsSubContainer {
    max-width: 371px;
    height: 320px;
    /* height: auto; */
    /* min-width: 371px; */
  }
  .courseDetailsDiv {
    display: flex;
    flex-direction: column;
    /* height: 300px; */
  }
  .courseDetailsDiv>div {
    border: none;
    }
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; 
}

.popup-content {
  position: relative;
  background: white;
  padding: 20px;
  height: 40vh;
  width: 50vw;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.popup-content p {
  color: red;
  font-size: 25px;
  margin: 40px 0 10px 0;
}

.popup-content button {
  background-color: #007bff; 
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.popup-content button:hover {
  background-color: #0056b3;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #333;
}

.close-button:hover {
  color: #ff0000; 
}
