.card_container_dashbordflowtest {
    background: rgb(0 153 255 / 4%);
    min-height: 93vh;
    overflow-y: scroll;
  }
  .card_container_dashbordflowtest::-webkit-scrollbar {
    display: none; /* Hide scrollbar for WebKit browsers */
  }

  

  @keyframes flickerAnimation {
    0%   { opacity: 1; }
    50%  { opacity: 0; }
    100% { opacity: 1; }
  }

  .test_card_subcontainer{
    margin: 2rem 2rem;
  }
  
.no_tests_message {
    width: 100%;
    font-size: 20px;
    padding: 10px;
    color: black;
    display: flex;
    justify-content: center;
    height: 3rem;
    background-color: #e9f2ee;
    font-weight: 600;
}
  