.style {
  width: 200px;
  background-color: #1065b7;
  text-align: center;
  font-weight: 800;
  padding: 11px 0px;
  color: white;
  font-size: 12px;
  display: inline-block;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

.payujsx_container {
  max-width: 100%;
  margin: 2rem auto;
  text-align: center;
}

.payujsx_form_container {
  /* border: 1px solid #000; */
  background: #fff;
  max-width: 600px;
  margin: 2rem auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 1rem;
  text-align: left;
}

.payujsx_form_container form {
  width: fit-content;
  margin: 0 auto;
}
.payujsx_form_container form div {
  display: grid;

  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  margin: 1rem 0;
}
.payujsx_form_container form label {
  color: #000000ad;
  font-weight: 400;
}
.payujsx_form_container form input {
  border: 1px solid #000000b6;
  height: 30px;
  border-radius: 8px;
}

.payujsx_form_container form button {
  /* background: #02973b; */
  background: #01c3ff;
  color: #fff;
  font-weight: 400;
  letter-spacing: 1px;
  width: 100px;

  margin: 5rem auto;
  margin: 0;
  /* margin-left: 5rem; */
}

/* @media (max-width:780px) {
    
} */

.style {
  width: 135px;
  background-color: #1065b7;
  text-align: center;
  font-weight: 800;
  padding: 11px 0px;
  color: white;
  font-size: 12px;
  display: inline-block;
  text-decoration: none;
}

#_payu_courses {
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 500px));
  background: #abddff;
  padding: 1rem; */
  width: 100%;
  p {
    /* color: red; */
text-align: center;
font-weight: 700;
font-size: 16px;
  }
}

.payudetaile_conatiner {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    /* transform: translate(50%, 50%); */
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
       background: rgb(52 58 64 / 94%);

    .payudetaile_subconatiner{
      background: #ffffff;
      width: 100%;
      padding: 3rem 0;
      max-width: 600px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 18px;
      h4{
        font-size: 2.5rem;
      }
      /* min-height: 40vh; */
      display: grid;justify-content: center;align-items: center;
      text-align: center;
      div{
        width: 100%;
        margin: 0 auto;
        text-align: left;
        /* border: 1px solid #000; */
        padding: 1rem ;
        p{
          padding: 0;
          margin: 0;
          margin: 0.5rem 0;
          font-size: 1.2rem;
          font-weight: 500;
        border-bottom: 1px solid #000;
label{
          font-size: 1.2rem;

}
          span{
            font-size: 1rem;
            font-weight: 400;
          }
        }
      }
      form{
div{
  display: flex;
  gap: 1rem;
}
button{
  background: #3700ff;
  width: 150px;
  margin: 0 auto;
  color: #fff;
}
      }
     
    }
}