
.Ug_header_logoIMG img{
    width: 250px;
}
.\"Ug_header_Container.t2UgHeaderContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.t2UgDivLinksOfHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.t2UgDivLinksOfHeader a {
    padding: 5px 10px;
    border-radius: 20px;
    background: linear-gradient(45deg, #0a9396, #005f73, #003d4e);
    color: white;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.Ug_HeaderSection.t2UgHeaderSec {
    width: 80%;
    margin: 0 auto;
}

.Ug_Home_Container.t2UgHomeContainer{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
ul.t2UgHeaderUl {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2rem;
    margin: 0rem;
    flex-wrap: wrap;
    padding: 5px 0;
}
.ug_container.themeUgHContainer {
    width: 80%;
    margin: 0 auto;
}
.ug_header.themeUgHeader {
    background-color: #e8ebf4;;
}
ul.t2UgHeaderUl li {
    font-weight: 500;
    font-size: 20px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.ug_header.themeUgHeader {
    background-color: #144c5f;
    color: white;
}
.marquee_data.t2MarqData{
    background: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    color: #000;
    margin: 1rem 0;
    padding: .5rem;
}
/* .t2OurCoursesContainer {
    display: flex;
    align-items: center;
    justify-content: center;

} */
.Ug_Home_Page_First_Containert2UgHomePageFirstContainer {
    padding-bottom: 1rem;
}
.t2CoursesHeadding {
    width: 80%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}
.t2CoursesHeadding h2 {
    text-align: center;
    color: #376893;
}
li.t2CourseLi {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: #e8ebf4;
}
.t2ExamsNames {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 1rem;
}
.t2FeaturesSecondContainer {
    display: flex;
    flex-direction: row;
    /* background-color: #3eaff1; */
    align-items: center;
    justify-content: space-around;
    width: 100%;
    gap: 1rem;
}
.t2FeaturesToBeRow {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
.t2CourseName {
    font-size: 20px;
    background-color: #1f4c60;
    margin: 1rem 0;
    border-radius: 20px;
    padding: 7px 25px;
    color: white;
}
.t2CoursesSubContainer {
    /* border: 1px solid black; */
}
/* ul.t2CoursesUl {
    padding: 0;
    margin: 0;
} */
ul.t2CoursesUl {
    padding: 0;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    /* justify-content: center; */
    gap: 2rem;
}
.t2FeatureImgC {
    /* height: 250px; */
    width: 250px;
}
.t2FeatureImgC img{
width: 100%;
}
/* #e8ebf4 */
.t2ExamsNames button{
    background-color:transparent ;
    /* color: white; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.t2ExamsNames a {
    background-color: transparent;
    color: black;
    text-decoration: none;
    text-align: center;
    font-family: "LXGW WenKai TC", cursive;
    font-weight: 600;
    font-style: normal;
    padding: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background: linear-gradient(45deg, #2e8c9282, #e8ebf4, #2e8c9200, #124557);
}
.t2FeaturesContainer {
    width:50%;
    padding: 10px 20px;
    /* background-color: #73b1e2; */
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.t2FeaturesContainer li {
    font-size: 18px;
    font-family: "LXGW WenKai TC", cursive;
    font-weight: 600;
    font-style: normal;
}
.t2ArrowWithFeatures {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    padding: 5px 3px;
    background: linear-gradient(45deg, #0a9396, #005f73, #003d4e);
    border-radius: 27px;
    /* background: linear-gradient(5deg, #274c61, #59799c, #32546a, #dbe4f1); */
}
.arrow {
    padding: 2px 2px;
    background-color: #e8ebf4;
    color: black;
    border-radius: 20px;
    align-items: center;
    display: flex;
    font-size: 20px;
}
li.t2CourseLi:first-child {
    border: 1px solid black;
    padding: 3rem 0;
}
li.t2CourseLi {
    border: 1px solid black;
}
@media screen and (max-width: 1440px) {
    .Ug_HeaderSection.t2UgHeaderSec {
        width: 100%;
        margin: 0 auto;
    }
    .t2UgDivLinksOfHeader {
        gap: 1rem;
    }
}
/* 1211 */
@media screen and (max-width: 1211px) {
    .t2CourseName {
        font-size: 20px;
        background-color: #1f4c60;
        margin: 1rem 0;
        border-radius: 20px;
        padding: 2px 17px;
        color: white;
    }
}


@media screen and (max-width: 1308px) {
    .t2FeaturesContainer li {
        font-size: 14px;
    }
    .t2CoursesHeadding {
        width:95%;
        /* margin: 0 auto; */
        background-color: rgb(255, 255, 255);
    }
}
@media screen and (max-width: 1170px) {
    .t2CoursesHeadding {
        width: 96%;
        background-color: rgb(255, 255, 255);
    }
}
@media screen and (max-width: 941px) {
    .t2FeaturesSecondContainer{
        gap: 0;
    }
    .t2FeaturesContainer li {
        font-size: 12px;
    }
    .t2CoursesHeadding {
        width:93%;
        /* margin: 0 auto; */
        background-color: rgb(255, 255, 255);
    }
}
@media screen and (max-width: 768px){
    .t2FeaturesContainer {
        width: 80%;
        padding: 10px 20px;
        color: white;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
    }
    .t2FeaturesSecondContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        gap: 1rem;
    }
    .arrow{
        display: none;
    }
    .t2FeaturesContainer li {
        padding:  0 7px ;
    }
    ul.t2UgHeaderUl {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 1rem;
        margin: 0rem;
        flex-wrap: wrap;
        padding: 5px 0;
    }
}

@media screen and (max-width: 849px){
    .t2FeaturesContainer li {
        font-size: 17px;
    }
}
/* 21-06-2024 */
.t2PortalNames:first-child {
    margin-left: 2rem;
}li.t2EELi a{
    color: white;
    }

@media screen and (max-width: 768px){
    .t2ExamsNames a {
        background-color: transparent;
        /* color: white; */
        font-size: 12px;
        text-align: center;
        margin-right: .5rem;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
}
/* 660 */

@media screen and (max-width: 812px){
    li.t2CourseLi {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        border: 1px solid black;
        background-color: #e8ebf4;
        margin: 2rem 0;
    }
    .t2FeatureImgC {
        /* height: 250px; */
        width: 200px;
    }
    .t2FeaturesContainer {
        width: 92%;
        padding: 10px 20px;
        color: white;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
    }
    .t2ExamsNames {
        display: flex;
        flex-direction: row;
        /* align-items: center; */
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
        margin: 10px 0;
    }
    .t2ExamsNames a {
        background-color: transparent;
        /* color: white; */
        font-size: 12px;
        /* width: 109px; */
        font-weight: 600;
        padding: 13px;
        text-align: center;
        margin-right: .5rem;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
}

.t2FeaturesHeading {
    color: black;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
li.t2UgHeaderLi {
    cursor: pointer;
}
.carousel-container {
    /* width: 100%; */
    /* height: 25rem;  */
    /* height: inherit; */
    /* overflow: hidden; */
}

.carousel .slide img {
    width: 100%;
    /* height: 25rem; */
    height: 100%;
    height: inherit;
    object-fit: cover;
}
.carousel .slide img {
    width: 100%;
    /* height: 100vh;  */
    object-fit: cover; /* Ensure the image covers the container without distortion */
}
/*  */
/* 630 */
@media screen and (max-width: 630px){
    ul.t2UgHeaderUl li {
        font-weight: 500;
        font-size: 16px;
    }
    .t2FeaturesContainer li {
        font-size: 13px;
    }
}
.t2CourseName strong{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
 
}
