.Complete_PackageText {
    /* background: #e9f2ee; */
    color: #000;
    font-size: 27px;
    margin: 1rem  0;
    text-transform: uppercase;
    letter-spacing: 7px;
}

.portal_group_h2 {
    font-size: 25px;
    letter-spacing: 4px;
}