.NewExploreExams_ExamCard_Container.t2NewExploreExams_ExamCard_Container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}
   .NewExploreExams_EachCard_Container.t2NewExploreExams_EachCard_Container {
    height: 320px;
   width: 320px;
   
   }
   .NewExploreExams_EachCard_Container.t2NewExploreExams_EachCard_Container ul li.t2LinkToSpecificExam a {
    background: linear-gradient(45deg, #0a9396, #005f73, #003d4e);
    color: white;
    padding: 7px;
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    border-radius: 20px;
    text-align: center;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.NewExploreExams_EachCard_Container.t2NewExploreExams_EachCard_Container:nth-child(even) {
    height: 320px;
    width: 320px;
    border-radius: 0 15%;
}
.NewExploreExams_EachCard_Container.t2NewExploreExams_EachCard_Container:nth-child(odd) {
    height: 300px;
    width: 320px;
    /* background-color: red; */
    /* border-radius: 15% 0; */
    border: unset;
    box-shadow: unset;
    border-right: 1px solid #73aaaf;
    border-bottom: 1px solid #2d8990;
    /* box-shadow: rgb(43 132 141) -5px 5px, rgb(44 134 142 / 43%) -15px 15px, rgb(70 134 145 / 12%) -25px 25px; */
    box-shadow: rgb(43 132 141 / 21%) -5px 5px, rgb(70 134 145 / 12%) -12px 5px;
    border-top: 1px solid #2e8b91;
    background: linear-gradient(45deg, #2e8c9282, #c7dade29, #2e8c9200, transparent);
}
.NewExploreExams_PortalNames_Container.t2NewExploreExams_PortalNames_Container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 14px;
    /* margin-top: 4rem; */
}
.NewExploreExams_EachCard_Container.t2NewExploreExams_EachCard_Container ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
    position: relative;
    padding: 0;

}

li.t2LinkToSpecificExam {
    width: 100%;
}
li.t2LinkToSpecificExam {
    /* width: 60%; */
    /* position: absolute; */
    /* box-shadow: rgb(42 131 140) 0px -4px 2px 0px, rgb(43 132 141 / 11%) -7px -3px 0px 1px; */
    /* top: -16px; */
    border-radius: 20px;
    /* left: -11%; */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
}
li.t2LinkToSpecificExam {
    width: 76%;
    border-radius: 20px;
    /* left: -11%; */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.t2CoursesHeadding {
    width: 80%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    position: relative;
}
.NewExploreExams_PortalNames_Container.t2NewExploreExams_PortalNames_Container li {
    font-size: 16px;
    width: 100%;
    text-align: center;
    font-weight: 600;
    border: 1px solid gray;
    padding: 4px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.bitsatOtsBgImages h1 {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(90deg,#eeeff8 0,#00aff0 0,#cf1512);
    -webkit-background-clip: text;
}
#EXPLORE_Exam_Heading {
    color: #00a3ff;
    text-align: center;
    font-size: 2rem;
    margin: 2rem auto;
    color: #1a5b70;
}
.NewExploreExams_Main_Container.t2ExploreExamsMainContainer #EXPLORE_Exam_Heading {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(90deg,#eeeff8 0,#00aff0 0,#cf1512);
    -webkit-background-clip: text;
    text-shadow: 1px 1px 0 var(--bs-cyan), -1px -1px 0 #2c888f;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.NewExploreExams_Main_Container.t2ExploreExamsMainContainer {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    /* margin: 1rem; */
    padding: 1rem 0;
}
.NewExploreExams_Main_Container.t2ExploreExamsMainContainer {
    /* box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset; */
    margin: 1rem 0;
    padding: 10px 0 4rem 0;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    /* box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset; */
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    background-color: #dee2e62e;
}
.t2OurCoursesContainer {
    position: relative;
}
.ribbon-2 {
    --f: 10px;
    --r: 15px;
    --t: -7px;
    position: absolute;
    inset: var(--t) calc(-1*var(--f)) auto auto;
    padding: 0 10px var(--f) calc(10px + var(--r));
    clip-path: polygon(0 0,100% 0,100% calc(100% - var(--f)),calc(100% - var(--f)) 100%,
        calc(100% - var(--f)) calc(100% - var(--f)),0 calc(100% - var(--f)),
        var(--r) calc(50% - var(--f)/2));
    background: #f9c000;
    box-shadow: 0 calc(-1*var(--f)) 0 inset #0005;
}
.NewExploreExams_PortalNames_Container.t2NewExploreExams_PortalNames_Container li a {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 14px;
    background-color: red;
    /* margin-top: 4rem; */
    padding: 0;
    width: 100%;
    background-color: unset;
    color: black;
    font-family: "LXGW WenKai TC", cursive;
    font-weight: 600;
    font-style: normal;
}
.t2CoursesHeadding h2#Our_Courses_heading {
    color: #1d6175;
    font-size: 2rem;
    margin: 1rem auto;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
}
.hamburgerMenu{
    display: none;
    font-size: 40px;
}
@media screen and (max-width: 924px){
    .hamburgerMenu{
        display: flex;
        position: relative;
        z-index: 99;
        /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    }
   
    .Ug_HeaderSection.t2UgHeaderSec {
        width: 80%;
        margin: 0 auto;
    }
    .menu-link {
        display: none;
        flex-direction: column;
        background-color: white;
        z-index: 99;
    }
    .mobileMenuLink {
        position: absolute;
        display: flex;
        top: 5%;
        border-radius: 20px;
        right: 54px;
        flex-direction: column;
        padding: 3rem 2rem 2rem;
        border: 1px solid #1f4c60;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
    .mobileMenuLink.t2UgDivLinksOfHeader a {
        padding: 5px 10px;
        font-weight: 600;
        border-radius: 20px;
        /* background: linear-gradient(45deg, #0a9396, #005f73, #003d4e); */
        background: transparent;
        color: black;
        /* border-bottom: 1px solid black; */
        width: 100%;
        text-decoration: none;
        transition: 0.3s ease-in-out;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        /* border: 1px solid red; */
        transition: transform 0.3s ease-in-out;
    }
    .mobileMenuLink.t2UgDivLinksOfHeader a:hover{
        transform: scale(1.05);
    }

}
/*  */
@media screen and (max-width: 375px){
    .NewExploreExams_EachCard_Container.t2NewExploreExams_EachCard_Container:nth-child(odd) {
        height: 300px;
        width: 262px;
        border: unset;
        box-shadow: unset;
        border-right: 1px solid #73aaaf;
        border-bottom: 1px solid #2d8990;
        box-shadow: rgb(43 132 141 / 21%) -5px 5px, rgb(70 134 145 / 12%) -12px 5px;
        border-top: 1px solid #2e8b91;
        background: linear-gradient(45deg, #2e8c9282, #c7dade29, #2e8c9200, transparent);
    }
    .NewExploreExams_EachCard_Container.t2NewExploreExams_EachCard_Container ul li.t2LinkToSpecificExam a {
        background: linear-gradient(45deg, #0a9396, #005f73, #003d4e);
        color: white;
        padding: 5px;
        width: 100%;
        font-weight: 600;
        font-size: 15px;
        border-radius: 20px;
        text-align: center;
    }
    .NewExploreExams_PortalNames_Container.t2NewExploreExams_PortalNames_Container li {
        font-size: 16px;
        width: 85%;
        text-align: center;
        font-weight: 600;
        border: 1px solid gray;
        padding: 4px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
}
@media screen and (max-width: 768px){
    .mobileMenuLink {
        position: absolute;
        display: flex;
        top: 6%;
        border-radius: 20px;
        right: 9%;
        flex-direction: column;
        padding: 3rem 3px 2rem 10px;
        align-items: start;
        border: 1px solid #1f4c60;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
    .mobileMenuLink li {
        width: 100%;
        border-bottom: 1px solid black;
    }
    .mobileMenuLink.t2UgDivLinksOfHeader a {
        box-shadow: unset;
        font-size: 12px;
    }
}
.Ug_examsPage_Main_Container.t2ExamPageHeaderMainContainer {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    /* padding: 2rem; */
    margin-bottom: 2rem;
}
