/* LinkPage.module.css */

.footer-content{
    padding: 5rem;
}
.footer-content p {
    color: #333;
    font-size: 16px;
  }
  
  .footer-content h1 {
    color: #555;
    font-size: 24px;
  }
  .LinkPage_footer-content__EHAOJ ul li {
    list-style-type: disc;
    /* color: #555; */
    font-size: 16px;
    font-weight: 600;
}
  .AboutUsImgContainer.AboutUsImgContainerDefault span {
    color: black !important;
  }
  
  /* Add more styles as needed for other HTML tags */
 

  /* Apply responsive for links page */
  @media (max-width: 415px) {
    .AboutUsImgContainer.AboutUsImgContainerDefault span a svg{
      color: #000;
      font-size: 1rem;
      font-weight: bold;
  }
    .footer-content {
      padding: 2rem;
  }
  }





  
