.act_infocontainer {
  width: 90%;
  margin: 0 auto;
  height: 60vh;
}

.Dashboard_container::-webkit-scrollbar {
  display: none;
}

.table {
  text-align: center;
}

.table th {
  padding: 1rem;
}

.admin_profile_parentcontainer {
  margin: 0;
  padding: 0;
}

.admin_profile_superparentcontainer {
  width: 100%;
  /* display: flex; */
  /* height: 35%; */
  /* align-items: center; */
}

.admin_profile_superparentcontainer_addnew_user {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.ug_adminregistercontainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #00000036;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ug_adminregistersubcontainer {
  border-radius: 18px;
  width: fit-content;
  padding: 0 5rem;

  background: #ffffff;
}

.ug_adminregistersubcontainer .ug_logincontainer_box {
  /* width: 300px; */
  position: relative;
  border: none;
  box-shadow: none;
  /* height: 100%; */
}

.admin_profile_superparentcontainer_addnew_user button {
  /* right: 8.5rem; */
  color: #fff;
  background-color: #198754;
  border-color: #198754;
}

.ug_logincontainer_box_close {
  position: absolute;
  top: -0.2rem;
  right: -4rem;
  transition: 0.5s;

  &:hover {
    transform: scale(1.1);
  }
}

.ug_logincontainer_box_close button {
  font-size: 2rem;
  background: none;
  color: #000000;
}

.admin_profile_parentcontainer h3 {
  text-align: center;
}

.admin_profile_container {
  display: flex;
  flex-wrap: wrap;
  /* width: 80%; */
  margin: 0 auto;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 1rem;
}

.admin_profile_box {
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  padding: 1rem 0.5rem;
  border-radius: 10px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
}

.admin_profile_box .pro_img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin_profile_box .pro_img img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.admin_profile_box_info {
  height: 150px;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  font-weight: 500;

  /* background: #000; */
  & P {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: normal;
  }
}

.admin_profile_box_btncontainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.admin_profile_box_btncontainer .redbtn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;

  background-color: #00bf8e;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.85rem;
  font-weight: 500;
  border-radius: 0.25rem;
  transition: color 0.15s;
}

.admin_profile_box_btncontainer .update {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;

  background-color: #0080ff;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 0.25rem;
  transition: color 0.15s;
}

.admin_profile_box_btncontainer .update {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;

  background-color: #0080ff;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 0.25rem;
  transition: color 0.15s;
}

.admin_profile_box_btncontainer .delete {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;

  background-color: #ff0000;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 0.25rem;
  transition: color 0.15s;
}

.admin_profile_box .Applied_Courses {
  width: 150px;
  margin: 0.5rem auto;

  button {
    background: #1a374d;
    width: 150px;
    margin: 0 auto;
    color: #ffffff;
  }
}

.read_container {
  width: 80%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}


/* ------------ studentcourseactive_container------------------------ */
.studentcourseactive_container {
  width: 100%;

  & .studentcourseactive_container_goback {
    width: 100px;
    display: flex;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    background: rgb(0, 153, 255);
    margin: 0 auto;
    margin-right: 1rem;
    border-radius: 8px;
    color: #fff;
    font-weight: 500;
  }

  & h1 {
    color: #000000;
    font-weight: normal;
  }

  & .studentcourseactive_container_activ_inact_containe {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 350px));
    justify-content: center;
    align-items: center;
    border: 1px solid #000000c0;
    padding: 0.5rem;
    place-content: center;
    background: #00000049;
    gap: 0.5rem;

    & p {
      margin: 0;
      padding: 0;
      font-size: 20px;
      font-weight: 400;
    }
  }
}






/* ********* Register students info.jsx CSS********* */
.admin_account_info_container h1 {
  text-align: center;
  padding: 20px;
}

.admin_ul_container {
  display: flex;
  justify-content: space-evenly;
  /* flex-direction: column; */
  align-items: center;
}

.admin_img_container {
  height: 200px;
  width: 200px;
  justify-content: center;
}

.users_profile_img_admin {
  height: 100%;
  border: 1px solid gray;
  border-radius: 100px;
  width: 100%;
}

.detailsss_container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}


.admin_para {
  color: black;
  font-size: 23px;
  letter-spacing: 1px;
}

.btns_adminn_contaainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.more_btn_admin {
  background-color: rgb(158, 216, 158);
}


.course_activation_btn_admin {
  background-color: rgb(130, 196, 240);
}




/* Account info jsx */

.user_information_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}

.users_profile_img_user_admin_side_container {
  width: 300px;
  height: 300px;
  border: 1px dashed rgb(117, 115, 115);
  border-radius: 164px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.users_profile_img_user_admin_side {
  width: 100%;
  height: 100%;
}

.user_information_sub_container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 50px;
  width: 50%;
  text-align: start;
}

.user_information_sub_container p {
  font-size: 20px;
  letter-spacing: 1.5px;
}

.admin_selective_courses h2{
font-size: 30px;
}

.admin_selective_ul{
border: 1px solid rgb(184, 175, 175);
height: 20%;
padding: 20px;
width: 40%;
gap: 20px;
justify-content: space-evenly;
}

.admin_selective_li p{
font-size: 20px;
}

.admin_selective_li select{
  width: 50%;
}





@media (max-width:768px) {
  .btns_adminn_contaainer {
    flex-direction: column;
  }

 
  .user_information_container {
    width: 100%;
  }
  .users_profile_img_user_admin_side_container {
    width: 150px;
    height: 150px;
  }

  .user_information_sub_container{
    width: 100%;
    padding: 15px;
  }

  .admin_selective_ul{
    width: 100%;
  }
  .admin_ul_container {
    flex-direction: column;
    justify-content: space-evenly;
  }
  
}