.Document_-images_-container {
  overflow: overlay;
  height: 100vh;

}
.DocumentImage_Uploader {
  margin: 1rem 2rem;
  width: 100vw;
}
.DocumentImage_Uploader h2{
    text-transform: uppercase;
}
.DocumentImage_Uploader form{
    /* background: #7594ad; */
    max-width: 85vw;
    border-radius: 10px;

}
.uploadedDocument_container {
  display: flex;
  gap: 1rem;
  /* padding: 1rem 0px; */
  flex-wrap: wrap;
  justify-content: space-between;
}
.uploadedDocumentFilds {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
  /* overflow-x: scroll; */
}
.uploadedDocument{
    display: flex;
    justify-content: right;
    padding: 1rem;
    gap: 1rem;
}

 .uploadedDocumentFilds select{
  width: 270px;
  padding: 6px;
  border: none;
  box-shadow: 1px 4px 11px 0px #1A374D;
}

.uploadedDocumentFilds input{
    width: 200px;
    padding: 6px;
    border: none;
    box-shadow: 1px 4px 11px 0px #1A374D;
  }

  .uploadedDocumentFilds button{
    width: 100px;
    padding: 6px;
  }


/* documentInfo===---------------------=====================---------- */
  .documentInfo_container {
    /* background: #c9d4dd; */
    margin-top: 3rem;
    padding: 5px;
    border-radius: 11px;
}
.documentInfo_contant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    /* align-items: center; */
}

/* .evenRow {
    background-color: #d1dde7;
  } */
  
  .oddRow {
    background-color: rgb(255, 255, 255);
  }
  