  .istPointContainer {
    background: #edf7ff;
    height: 100vh;
    width: 100vw;
}

.Instruction_-points_-container {
  height: 100vh;
  background: #edf7ff;
}
.InstructionEditPoints {
  width: 58vw;
  margin: 0 auto;
}
.color1{
  background:  #ffffff;
}
.color2{
  background:   #d1dde7;
}
.instruction_-div {
  /* display: flex;
  flex-direction: column;
  gap: 1rem; */
  margin: 1rem 0;
}
.instruction_container {
  width: 100vw;
}
.Instruction_containerTable {
  /* background: #c9d4dd; */
  /* padding: 10px; */
}
.instruction_container {
    margin: 2rem;
  }
  .instruction_openMenu {
    margin: 1rem 0px;
  }
  /* .instruction_content{
      display: none;
  } */
  .instructionBTN {
    border: none;
    background: #1a374d;
    color: white;
    padding: 5px;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    float: right;
        margin: 0.3rem;

  }
  .instructionUpload {
    border: none;
    background: #1A374D;
    color: white;
    padding: 5px;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
  }
  .instruction_input_contant {
    display: flex;
    padding: 1rem 0;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    /* background: #c9d4dd; */
    margin-top: 3rem;
    flex-wrap: wrap;
}
.inst {
  display: flex;
  gap: 10px;
  /* justify-content: space-around; */
  /* align-items: center; */
  flex-direction: column;
}
  .Open_Instruction_Points a {
    background: #1A374D;
    padding: 2px 12px;
    text-transform: uppercase;
    color: white;
    border-radius: 4px;
}
  .inst input,   .inst
  select {
    width: 350px;
    padding: 6px;
    border: none;
    box-shadow: 1px 4px 11px 0px #1A374D;
  }
  .inst label {
    font-size: 15px;
    font-weight: 500;
  }
  
  .InstructionBoredr {
    /* border: 1px solid #54808a; */
    margin-bottom: 1rem;
  }
  /* table {
    border-collapse: collapse;
    width: 79vw;
} */
  /* .Instruction_containerTable table {
    border-collapse: collapse;
    text-align: center;
    width: 81vw;
  } */
  /* .Instruction_containerTable table tr th{
    text-transform: uppercase;
  } */
  /* .Instruction_containerTable table tr th,
  tr td {
    border: 2px solid #54808a;
    padding: 3px;
  }
  .Instruction_containerTable table tr th {
    padding: 0px 30px;
  } */
  .Instruction_points {
    width: 93vw;
    margin: 0 auto;
}
  .Instruction_points ul {
    display: flex;
    gap: 2rem;
  }
  .b_to_H {
    padding: 0px 15px;
}
  .IpBg{
    background: rgb(255, 255, 255);
    margin-top: 2rem;
    padding: 1rem;
  }
  .Instruction_points ul li {
      list-style: disc;
  }
  .Instruction_points ul a {
    background-color: #3673ce;
    padding: 4px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .InstructiondelPoint {
    background-color: #ce3636;
    padding: 6px 12px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    border: none;
  }
  
  .Instruction_points ul :nth-child(1){
      list-style: none;
  }
  
  .Instruction_points:nth-col{
      display: none;
  }


/* updating Update_-Instruction */

.Instruction_-points_-container{

}