.whyChooseUsImg{
    height: 250px;
    width: 250px;
}
.whyChooseUsImg img{
width: 100%;
}
.courseITS{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rebeccapurple;
}
.t2TabImageDiv {
  /* height: 230px; */
  height: 249px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.t2TabImageDiv img {
  width: 100%;
  height: inherit;
}
.tabsDiv{
    /* border: 1px solid black; */
    
}
.selectedButton {
    background-color: #1f4c60;
    color: white;
  }

  .selectedTabContent {
    /* border: 2px solid #4CAF50;  */
    padding: 10px;
  }
  .t2TabButtonUl{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
  .t2TabDetailsDiv {
    background: linear-gradient(45deg, #2e8c92, #e8ebf4, #2e8c9200, #124557);
    display: flex;
    padding: 1rem;
    justify-content: center;
    /* border: 1px solid #456776; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
  .CoursePage_header_Container.CoursePageHeaderContainerDefault {
    background-color: rgb(19, 170, 230);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
        padding: 3rem 4rem;
}
.logo_Img_container.themeLogoImgCDefault img {
    width:225px;
}

img.defaultLogoImg::before {
    left: auto;
    right: 0;
    top: 0px;
    content: "";
    z-index: -1;
    width: 1000%;
    bottom: 0px;
    background: #fff;
    position: absolute;
    transform: skew(-25deg);
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

.img-container {
    position: relative; /* Required to position the pseudo-element absolutely */
}
.CoursePageItemsContainer.CoursePageItemsContainerDefault ul {
    display: flex;
    flex-direction: row;
    gap:2rem;
}
.CoursePageItemsContainer.CoursePageItemsContainerDefault a {
    color: white !important;
    text-transform: uppercase !important;
    font-weight: bold;
}

.whiteCOURSES h2 {
    color:black;
}
.whiteCOURSES span {
    color:yellow;
}
.t2CPHeaderUl {
    display: flex;
    align-items: center;
    width: 80%;
    padding: 5px 0;
    gap: 3rem;
    font-weight: 500;
    margin: auto;
    font-size: 18px;
    color: white;
    flex-wrap: wrap;
}
.t2CPHeaderUl li a{
    color: white;
}
.CoursePageItemsContainer{
    background-color: #144c5f;
}
  .t2HeadingInCp {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rebeccapurple; */
    border-radius: 20px;
}
h2.orangeContant {
    color: white;
    border: 1px solid white;
    margin: 0;
    padding: 0 3rem;
    background-color: #1f4c60;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 20px;
}
.orangeCOURSES {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* tabs css */
.tabsDiv {
    background:linear-gradient(45deg, #2e8c9252, #e8ebf4, #2e8c9200, #1245576b);
    padding: 2rem 0;
    width: 90%;
    margin: auto;
}
.notSelectedButton{
    background-color: #88b5bd;
    border: 1px solid white;
    color: white;
}
.t2TabsSubContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}
.t2TabDetailsSubDiv {
  /* border: 1px solid black; */
  padding: 0 1rem;
}
.t2TabsSubContainer {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
@media (max-width: 425px) {
  .t2TabButtonUl li div button  {
    padding: 5px 8px;
    border: none;
    font-size: 8px;
    cursor: pointer;
    border-radius: 4px;
}
.t2TabImageDiv {
  height: 169px;
  width: 219px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
 }
 .t2TabDetailsDiv {
  height: 400px;
  width: 300px;
  background: linear-gradient(45deg, #2e8c92, #e8ebf4, #2e8c9200, #124557);
  display: flex;
  padding: 1rem;
  justify-content: center;
  border: 1px solid #456776;
 }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .t2CPHeaderUl {
    display: flex;
    align-items: center;
    width: 95%;
    padding: 5px 0;
    gap: 2rem;
    font-weight: 500;
    margin: auto;
    font-size: 18px;
    color: white;
    flex-wrap: wrap;
   }
}
.t2TabContentSplittedText {
  gap: 1rem;
  padding: 20px 0;
  /* margin: 0 auto; */
  /* width: 80%; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.t2TabContentSplittedText div {
  /* border: 1px solid black; */
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  /* height: 200px; */
  text-align: center;
  /* width: 500px; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  padding: 2rem;
  width: 350px;
  height: 350px;
  transition: transform 0.3s ease-in-out;
}
.t2TabContentSplittedText div:hover {
  transform: scale(1.03); 
}
.t2SelectedTabContentDiv {
  width: 100%;
}