.greenSectionContainer {
    background: #00092b;
 
    & ul {
      & li {
        & a {
          color: #000000;
          font-weight: 400;
          letter-spacing: 3px;
          background: white;
          font-size: 21px;
          padding: 1px 12px;
          border-radius: 6px;
 
          &:hover {
            background: transparent;
            color: #fff;
            box-shadow: 4px 4px 8px -3px #afe8f5;
          }
        }
      }
    }
  }
 
 
.greenHeader {
    color: red;
    background: linear-gradient(90deg, #eeeff8 0, #ffffff 0, #ffff 19%, #52be80);
}
 
.Gr_courses_container {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(280px,320px));
  gap: 10px;
  box-shadow: 0px 0px 14px -7px #55bf82;
  border-radius: 6px;
  padding: 9px;
}
 
.purpleSectionContainer{
  background: red !important;
}
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
/* font-family: "Quicksand", sans-serif; */

:root {
  --greenFont: "Quicksand", sans-serif;
}

.greenSectionContainer {
  /* background: #00092b; */
  & ul {
    & li {
      & a {
        color: #000000;
        font-weight: 400;
        letter-spacing: 3px;
        background: white;
        font-size: 21px;
        padding: 1px 12px;
        border-radius: 6px;
        font-family: var(--greenFont);
        &:hover {
          background: transparent;
          color: #fff;
          box-shadow: 4px 4px 8px -3px #afe8f5;
        }
      }
    }
  }
}

.greenHeader {
  color: red;
  background: linear-gradient(90deg, #eeeff8 0, #ffffff 0, #ffff 19%, #52be80);
  height: 96px;
  margin-top: 2rem;
  position: fixed;
  top: 0;
  z-index: 99999;
}

.Gr_courses_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 320px));
  gap: 10px;
  box-shadow: 0px 4px 10px -3px #55bf82;
  border-radius: 6px;
  padding: 36px 0;
}



.theme-green {
  background-color: #ffffff;
  margin-top: 6rem;
}

.green_login_btn {
  background: white;
  border-radius: 10px;
  & button {
    & img {
      border: 1px solid #88d2a8 !important;
      height: 27px;
      width: 100%;
    }
    & h2 {
      margin: 0 !important;
    }
  }
}

.green_Dropdownmenu {
  &:hover .dropdownmenu_foradim_page {
    background: white !important;
    left: 0 !important;
    box-shadow: 0px 0px 15px -3px #4fbd7d;
  }
}

.green_portal {
  & h2 {
    color: #63c48c !important;
    background: none;
    font-family: var(--greenFont);
  }
}

#green_examName {
  justify-content: left;
  color: #5b5b5b !important;
  font-family: var(--greenFont) !important;
}

.green_exam_group {
  background: linear-gradient(179deg, #eeeff8 0, #ffffff 0, #ffff 19%, #f4fff9);
}

.beforelogin_Quiz_cards_cantainer_contain {
  width: 91%;
  margin: 3rem auto;
}

.greenCOURSES {
  background: #f6f8eb;
  padding: 2rem;
  width: 90%;
    border-radius: 12px;
  & h2 {
    font-family: var(--greenFont);
  }
  & span {
    font-family: var(--greenFont);
  }
}

.greenCardBody {
  padding: 0 !important;
  & p {
    font-family: var(--greenFont);
    font-weight: 500;
  }
  & .Price_Discount{
    justify-content: left;
  }
}
.greenCourseNameInCard {
  padding: 10px 0 !important;
  text-align: center;
  background: #f6f8eb;
}

.greenImgDiv {
  padding: 10px;
  box-shadow: 0 2px 7px 0px #c3cf84;
  height: auto;
}

span.greenThemeCourseInfo {
  color: #00b774 !important;
  font-family: var(--greenFont);
  font-weight: 500 !important;
}

.greenIconsAndCardsPC {
  /* background: #f4fff9; */
  display: flex;
  padding: 6rem 7px;
  gap: 20px;
  flex-wrap: wrap;
  box-shadow: 0px 0px 20px -16px;
}

.greenIconAndCards {
  width: 31.33%;
    & .textDiv {
    & h2 {
      font-size: 16px;
      color: #198754;
      margin: 10px;
    }
    & p {
      text-align: center;
    }
  }
  & .icon {
    & span {
      /* background: red; */
      color: white;
      font-size: 35px;
      background: #19876e;
      border-radius: 50%;
      width: 100px !important;
      padding: 8px;
      margin: 14px 0 !important;
    }
  }
}

.greenIconAndCards:hover {
  background: #f4fff9;
  /* transform: translateZ(10px); */
  box-shadow: 0px 5px 8px -7px black;
}


.greenWCUContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.greenthemefooterContant{
background-color: #f6f8eb;
padding: 14px;
& .footer-linkss{
  border-top: 1px solid rgb(0, 0, 0);
  color: #000 !important;
}
}
.greentheme_footerItem li a{
  color: #000000;
  /* font-weight: 400; */
  /* letter-spacing: 3px; */
  background: none !important; 
  font-size: 10px !important;
  padding: 0 !important;  
  /* border-radius: 6px; */
  font-family: var(--greenFont);
}

footer.greenthemefooter {
  display: flex;
  width: 91%;
    margin: 0 auto;
    gap: 2rem;
    justify-content: center;
    & h4{
      color: #19876e;
    }
}



.greentheme_footerItem #footer_link:hover{
  color: rgb(0, 0, 0) !important;
  text-decoration: underline;
}

.greentheme_footerItem li:hover{
  color: #000000;
}


.greentheme_footer_Copyright i{
  color: #19876e;
  margin: 0 10px
}
.greentheme_footer_Copyright i:hover{
  color: #00b774 !important;
}
ul.greentheme_footerItem {
  padding: 0;
}


footer.greenthemefooter div {
  max-width: 35%;
  /* margin: 0 auto; */
}


/* ************************************ */
.logo_Img_container.t1ThemeLogoImgC {
  width: 400px;

  height: 160px;
}

img.t1LogoImg {
  height: 100%;
  /* width: 100%; */
  padding: 20px;
}

/* .before_start_now {
  width: 50%;
  background: radial-gradient(rgb(86, 141, 65), transparent);
  text-align: center;
  margin: 0 auto;
  align-items: center;
} */

.before_start_now a{
  color: black;
  font-weight: bold;
}