.maintenance-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f9fa;
    color: #333;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .maintenance-container h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .maintenance-container p {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  .oops_Image {
    width:500px;
    height:500px;
  }