.passwordChangeFormGroup{
    /* background-color: red; */
}
.passwordChangeFormGroup {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    /* gap: 1rem; */
    margin: 2rem 0;
}
.passwordChangeFormGroup label{
    font-size: 18px;
    font-weight: 600;
}
.passwordChangeFormGroup input {
    border: 1px solid gray;
    padding: 10px;
    border-radius: 10px;
}
.passwordChangeFormGroup button {
    background-color: rgba(0, 128, 0, 0.849);
    color: white;
    transition: 0.2s ease-in-out;
}
.passwordChangeFormGroup button:hover {
    transform: scale(1.02);
}